.container{
    font-family: Arial, sans-serif;
    background:#40464b;
    margin: auto;
    font-size: 25px;
    width: 60%;
    height: 600px;
}

.box{
    margin-left:200px;
    margin-right:200px;
    margin-top:150px;
    margin-bottom: 100px;
}

p{
    margin: 50px;
    border: 1px solid black;
    padding: 60px;
    text-align: center;
    display: inline-block;

}

#on{
    background-color: green;
    position: absolute;
    top: 2in;
}

#off{
    background-color: red;
    position: absolute;
    right: 6in;
    top: 2in;
}

#switch{
  
    text-align: center;
    width: 140px;
    height: 100px;
    color: #3713d4e7;
    position: absolute;
    left: 4.4in;
    top: 2.8in;
    font-size: 20px;
    border-radius: 50%;
    border: 1px solid #40464b;
    outline: 0;
}

#switch :hover{
background-color: #6797be;
color: antiquewhite;
}