body {
    font-family: Arial, sans-serif;
    position:relative;
    background:#40464b;
    height:100%;
    margin:0;
}

#box{
    margin: 50px;
    padding: 50px;
    text-align: center
}

#switch{
    text-align: center;
    width: 100px;
    height: 100px;
    color: blue;
    position: absolute;
    left: 4.3in;
}

input[type="checkbox"]{
    width: 200px;
    height: 200px;
}

button[type="button"]{
    display: inline-block;
    width: 100px;
    height: 100px;
    font-size: 20px;
}

label{
    font-size: 50px;
    color: white;
}